<div class="tile is-child box is-5">
    <h1 class="title">AutomaCoin</h1>
    <h2 class="subtitle">W e b &nbsp; C l i e n t</h2>
    <p>
        Help scientists compute models of the world by mining
        <strong>a ​new kind</strong>
        of responsible and universal cryptocurrency.
    </p>
</div>