<div x-data="dashboardComponent()" x-init="init()" class="tile is-child">
    <nav class="panel" id="dashboard">
        <p class="panel-heading">
            <span x-text="title"></span>
        </p>
        <p class="panel-tabs">
            <a :class="{ 'is-active': tab === 'nodes' }" @click="tab = 'nodes'">Nodes</a>
            <a :class="{ 'is-active': tab === 'problems' }" @click="tab = 'problems'">Problems</a>
            <a :class="{ 'is-active': tab === 'output' }" @click="tab = 'output'">Output</a>
            <a :class="{ 'is-active': tab === 'terminal' }" @click="tab = 'terminal'">Terminal</a>
        </p>
        <div id="problemsHarbor">
            <div x-show="tab === 'problems'" id="problems"></div>
        </div>
        <div id="outputHarbor">
            <div x-show="tab === 'output'" id="output"></div>
        </div>
        <div id="terminalHarbor">
            <div x-show="tab === 'terminal'" id="terminal"></div>
        </div>
        <div class="modal" :class="{ 'is-active': expand === true }">
            <div class="modal-background"></div>
            <div class="modal-content" id="terminalOverlay"></div>
            <button @click="expand =!expand; attach()" class="modal-close is-large" aria-label="close"></button>
        </div>
        <div x-show="tab === 'nodes'">
            <a class="panel-block is-active">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                Automacoin.us.node
            </a>
            <a class="panel-block">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                    --
                </span>
            </a>
            <a class="panel-block">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                    --
                </span>
            </a>
            <a class="panel-block">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                    --
                </span>
            </a>
            <a class="panel-block">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                    --
                </span>
            </a>
            <a class="panel-block">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                    --
                </span>
            </a>
            <a class="panel-block">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                    --
                </span>
            </a>
        </div>
        <div x-show="tab !== 'nodes'" class="panel-block">
            <button @click="expand =!expand; detach()" class="button is-info is-outlined is-fullwidth">
                Expand
            </button>
        </div>

    </nav>
</div>