<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>AutomaCoin</strong>
            W e b C l i e n t by
            <a href="https://automacoin.com">AutomaCoin</a>.
            <a href="https://github.com/automacoin/frontend">Source code</a>
            is licensed
            <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <p>
            <a href="https://github.com/automacoin">
                <span class="icon has-text-info">
                    <i class="fab fa-github"></i>
                </span>
            </a>
        </p>
    </div>
</footer>