<div class="tile is-child box">
    <div class="container">
        <p class="content has-text-centered">
            <div class="field is-grouped">
                <p class="control">
                    <button disabled="disabled" class="button is-success   is-rounded">
                        Start
                    </button>
                </p>
                <p class="control">
                    <button class="button  is-warning is-rounded">
                        Fetch
                    </button>
                </p>
                <p class="control">
                    <button disabled="disabled" class="button is-danger  is-rounded">
                        Cancel
                    </button>
                </p>
            </div>
            <div class="field">
                <input id="switchGPU" type="checkbox" name="switchGPU" class="switch is-rounded is-info" checked="checked">
                <label for="switchGPU">Disable GPU</label>
            </div>
        </p>
    </div>
</div>