<!--<div id="pageloader" class="pageloader is-active">
    <span class="title">AutomaCoin WebClient is loading...</span>
</div>-->

<section id="pageloader" class="preloader hero is-active is-dark is-fullheight has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                AUTOMACOIN
            </h1>
            <h2 class="subtitle">
                to whoever computes for science the world is revealed
            </h2>
            <img src="assets/images/spinner.svg" alt="spinner">
        </div>
    </div>
</section> 