<div x-data='userProfileComponent()' x-init="histogram()" class="tile is-child box">
    <div class="media">
        <div class="media-left">

            <div class="engine">
                <div class="power-switch">
                    <input id="poweron" @click="login();" type="checkbox" x-bind:disabled="logged" x-model="logged" />
                    <div class="btn">
                        <svg class="power-off">
                            <line class="line" x1="75" y1="34" x2="75" y2="58"/>
                            <circle class="circle" cx="75" cy="80" r="35"/>
                        </svg>
                        <svg class="power-on">
                            <line class="line" x1="75" y1="34" x2="75" y2="58"/>
                            <circle class="circle" cx="75" cy="80" r="35"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="media-content">
            <p class="title is-4">Wallet Address:</p>
            <p class="subtitle is-6" x-text="$store.wallet.account"></p>
        </div>
    </div>

    <div class="mt-5" id="histogram"></div>

    <div class="modal" :class="{ 'is-active': smodal === true }">
        <div class="modal-background"></div>
        <div class="modal-card automacoin-modal">
            <header class="modal-card-head">
                <p class="modal-card-title"></p>
                <button class="delete" aria-label="close" @click="smodal =! smodal"></button>
            </header>
            <section class="modal-card-body">
                <a target="_blank" href="https://chrome.google.com/webstore/detail/zilpay/klnaejjgbibmhlephnhpmaofohgkpgkd">
                    <button class="button is-info is-large is-fullwidth is-automacoin-zilpay" @click="login()">
                        <img src="assets/images/zilpay.svg" alt="ZilPay logo " width="50" height="50">
                        <strong class="ml-4">Install ZilPay</strong>
                    </button>
                </a>
                <p class="mt-2 help is-danger has-text-centered">ZilPay has not been detected.</p>
                <p class="help is-danger has-text-centered">
                    Please enable it or install it then refresh the page.</p>
            </section>
            <footer class="modal-card-foot"></footer>
        </div>
    </div>

</div>