<div x-data='userProfileComponent()' x-init="histogram()" class="tile is-child box">
    <div class="media">
        <div class="media-left">
            <figure class="image is-64x64" @mouseover="onpic=true" @mouseout="onpic=false" @click="smodal =! smodal">
                <img src="https://bulma.io/images/placeholders/64x64.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="media-content">
            <p class="title is-4" :class="{ 'has-text-info': onpic === true }">Alessio Proietti</p>
            <p class="subtitle is-6" :class="{ 'has-text-info': onpic === true }">@flexios</p>
        </div>
    </div>

        <div class="mt-6" style="margin-top: 3%" id="histogram"></div>
  
    <div class="modal" :class="{ 'is-active': smodal === true }">
        <div class="modal-background"></div>
        <div class="modal-card automacoin-modal">
            <header class="modal-card-head">
                <p class="modal-card-title"></p>
                <button class="delete" aria-label="close" @click="smodal =! smodal;isDanger =!isDanger"></button>
            </header>
            <section class="modal-card-body">

                <button class="button is-info is-large is-fullwidth is-automacoin-zilpay" @click="login()">
                    <strong>Login with ZilPay</strong>
                </button>
                <!--<p class="help is-danger" x-show="isDanger">ZilPay has not been detected, please enable it then refresh.</p>-->
            </section>
            <footer class="modal-card-foot"></footer>
        </div>
    </div>

</div>