# Dependecies' code is not part of source code
node_modules    

# Build output is not part source code
dist

# Results of jest --coverage tests
coverage

# Results of markdown preview
out

scratch.js
