---
layout: base
---

{% include "pageloader.njk" %}

<div class="py-5" style="height:100%; background-image: url('assets/images/bg-image.jpg')">

    <p class="has-text-centered">
        ATTENTION: THIS IS A DRAFT VERSION OF THE UI
    </p>
    <div class="mt-3 py-3 container">
        {% include "main.njk" %}
    </div>
</div>

{% include "footer.njk" %}